<div>
  <div class="d-flex justify-content-center my-5">
    <div class="jumbotron text-center">
      <h1 class="display-2">Witamy w TattooStudio</h1>
      <p class="lead">Profesjonalne tatuaże, unikalne wzory, niezapomniane doświadczenie.</p>
      <a href="/login" class="btn btn-primary btn-lg my-3">Umów się na wizytę</a>
    </div>
  </div>
</div>