<div class="container p-5">
  <h3 class="mb-4">Logowanie</h3>
  <h1>TattooStudio</h1>
  <a href="/auth/google" class="btn btn-primary btn-lg mt-5 px-5">
    <i class="fab fa-google"></i> Zaloguj z Google
  </a>
</div>