<div class="d-flex justify-content-center my-5">
  <div class="jumbotron text-center">
    <h1 class="display-2">Błąd 500</h1>
    <p class="lead">Coś się popsuło...</p>
    <a href="/" class="btn btn-primary btn-lg my-3">Wróć do strony głównej</a>
  </div>
</div>